.simlist {
    border: 1px solid #666;
    width: 100%;
}

.simlist th {
    background: #c8c8c8;
    font-weight: bold;
    padding: 2;
    text-align: left
}

.doclist {
    border: 1px solid #666;
    width: 100%;
}

.doclist tr {
    text-align: center;
}

.doctext {
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0
}

.notSelected {
    background-color: white;
}

.selected {
    background-color: #e8e8e8;
}

.mainpanel {
    width: 100%;
    padding: 0;
    margin: 0
}

.subpanels {
    vertical-align: top;
    border: 1px solid #666;
    padding: 3px;
    width: 33%;
    margin: 0
}

.listbutton {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-width: 1px;
    border-color: #ffe #aaab9c #ccc #fff;
    border-style: solid;
    color: #777;
    text-decoration: none;
    background: #d8d8d8
}

.doclistbutton {
    display: block;
    padding: 0.5em;
    border-width: 1px;
    border-color: #ffe #aaab9c #ccc #fff;
    border-style: solid;
    color: #777;
    text-decoration: none;
    background: #d8d8d8
}

.doclistbutton {
    display: block;
    padding: 0.5em;
    border-width: 1px;
    border-color: #ffe #aaab9c #ccc #fff;
    border-style: solid;
    color: #777;
    text-decoration: none;
    background: #d8d8d8
}

.header {
    text-align: center;
    width: 100%;
    background: #c8c8c8
}

#termbox {
    width: 100%;
}